
<nav class="nav-extended">
<div class="nav-wrapper">
    <a href="#" class="brand-logo">bantu.in</a>    
</div>
<div class="nav-content">
    <ul class="tabs tabs-transparent">
    <li class="tab"><a href="/worker/feeds">Feeds</a></li>
    <li class="tab"><a href="/worker/search-job">Find Job</a></li>
    <li class="tab"><a href="/worker/ongoing">Ongoing</a></li>
    <li class="tab"><a href="/worker/history">History</a></li>
    <li class="tab"><a href="/worker/profile">Profile</a></li>
    </ul>
</div>
</nav>

    