<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head.ejs %>
<body>
    <%- include ../partials/navbarProv.ejs %>
    <div class="container">
        <!-- ADD CONTENT HERE -->
        ini history
    </div>

<%- include ../partials/loadScript.ejs %>
</body>
</html>