<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head.ejs %>
<body>
    <%- include ../partials/navbarProv.ejs %>
    <div class="container">
        <h5>Add New Project</h5>
        <!-- ADD CONTENT HERE -->
        <form action="/provider/<%- username %>/new-project" method="POST">
            <div>
                <div style="width:50%; float: left;">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="title" required>
                    <label>Body</label>
                    <input type="text" name="body" placeholder="job description" required>
                    <label>Position</label>
                    <div class="mapouter">

                            <div class="row">
                                    <div class="input-field col s6">
                                      <input id="lat1" placeholder="latitude" name="lat" type="text" class="validate" value="" >
                                    </div>
                                     <div class="input-field col s6">
                                      <input id="lng1" placeholder="longitude" name="lng" type="text" class="validate" value="" >
                                    </div>    
                                  </div>
                                    <div id="map"></div>

                        <style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style>
                    </div>
                </div>
                <div style="width: 40%; float: left; margin-left: 20px;">
                    <label>Category</label>
                    <select class="browser-default" name="category" style="margin-bottom:9px" >
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                    <label>Tags</label>
                    <input type="text" name="tags" placeholder="tags" >
                    <label>Worker Needed</label>
                    <input name="workerNeeded" type="number" min="1" placeholder="worker needed" required>
                    <label>Price</label>
                    <input name="price" type="number" min="10000" placeholder="price" required>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit New Project
                            <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <script>
            function initMap(){
                  var lt=48.451778;
                  var lg=31.646305;
      
                  var myLatlng = new google.maps.LatLng(lt,lg);
                  var mapOptions = {
                      center: new google.maps.LatLng(lt,lg),
                      zoom: 6,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                  };
      
                  var map = new google.maps.Map(document.getElementById('map'),mapOptions);   
                  var marker = new google.maps.Marker({
                      position:myLatlng,
                      map:map
                  });
      
                  google.maps.event.addListener(map, 'click', function(event) {
                      if(marker === null){
                          marker = new google.maps.Marker({
                          position: event.latLng, 
                          map: map
                      });
                      }
                      else{
                          marker.setPosition(event.latLng)
                      }
                      map.panTo(event.latLng)
                      document.getElementById('lat1').value = marker.position.lat().toFixed(6);
                      document.getElementById('lng1').value = marker.position.lng().toFixed(6);
                  });
      }
          </script>
<%- include ../partials/loadScript.ejs %>
</body>
</html>