<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head.ejs %>
  <body>
    <div class="container">
        <form action="/provider/register" method="POST">
                <div class="row">
                        <div class="section"></div>
                        <main>
                          <center>
                            <div class="container">
                              <div
                                class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row"
                                style="display: inline-block; padding: 0px 48px 0px 48px; border: 1px; margin-top: 0px; solid #EEE;"
                                >
                                <div class="section"></div>
                                <div class="section"></div>
                                
                                <h5>PROVIDER</h5>
                                <div class="section">
                                  <i class="mdi-alert-error red-text"></i>
                                </div>
                                
                                <div class="row">

                                  <div class="input-field col s12">
                                    <input
                                      class="validate"
                                      type="text"
                                      name="username"
                                      id="email"
                                      required
                                    />
                                    <label for="email">Username</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="input-field col m12">
                                    <input
                                      class="validate"
                                      type="password"
                                      name="password"
                                      id="password"
                                      required
                                    />
                                    <label for="password">Password</label>
                                  </div>
                                  <label style="float: right;">
                                    <a><b style="color: #F5F5F5;">Forgot Password?</b></a>
                                  </label>
                                </div>

                                <div class="row">
                                  <div class="input-field col s6">
                                    <input placeholder="first name" name="firstName" type="text" class="validate" required>
                                  </div>
                                  <div class="input-field col s6">
                                    <input placeholder="last name" name="lastName" type="text" class="validate" required>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="input-field col s6">
                                    <input placeholder="email" name="email" type="text" class="validate" required>
                                  </div>
                                  <div class="input-field col s6">
                                    <input placeholder="phone" name="phone" type="text" class="validate" required>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="input-field col s6">
                                    <input placeholder="address" name="address" type="text" class="validate" required>
                                  </div>
                                  <div class="input-field col s6">
                                    <input placeholder="Location ?" name="location" type="text" class="validate">
                                  </div>
                                </div>

                                
                                <center>
                                  <div class="row">
                                    <button
                                      style="margin-left:65px;"
                                      type="submit"
                                      name="btn_login"
                                      class="col s8 btn btn-small white black-text  waves-effect z-depth-1 y-depth-1"
                                    >
                                      Register
                                    </button>
                                  </div>
                                  
                                </center>
                              </div>
                            </div>
                          </center>
                        </main>
                      </div>
        </form>
    </div>
    <% include ../partials/loadScript.ejs %>
  </body>
</html>
